@charset "UTF-8";

@media screen and (max-width: 500px){

    main {
        margin-bottom: 0px;
    }

    main h2 {
        font-size: 1.5em;
    }

    main p {
        font-size: 15px;
    }

    main img {
        width: 90%;
    }
}