@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --cor01: #2B4141;
    --cor02: #8AB9B5;
    --cor03: #26413C;

    --font1: 'Poppins', sans-serif;
    --font2: 'Poppins Semibold', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor01);
    font-family: 'Lato', sans-serif;
}

header {
    font-family: var(--font1);
    background-color: var(--cor01);
    min-height: 50px;
    padding-top: 40px;
    text-align: center;
    color: white;
}

nav {
    background-color: var(--cor01);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.24);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover {
    background-color: aliceblue;
    color: var(--cor01);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 20px 20px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.primeiro-titulo {
    margin-top: 15px;
}

main h2 {
    font-family: var(--font2);
    color: black;
    font-weight: bold;
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 50px;
    padding-left: 10px;
}

main p {
    max-width: 850px;
    margin: 15px auto;
    text-align: center;
    font-size: 17px;
    line-height: 1.3em;
}

main img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.550);
    width: 60%;
    margin: auto;
    display: block;
}

div.link {
    display: block;
    margin: 15px auto;
    background-color: black;
    width: 10%;
}

div.pag {
    padding: 0px 20px 10px 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

aside {
    margin: 20px 20px 10px 20px;
    text-align: center; 
}

aside a {
    font-family: var(--font1);
    color: var(--cor01);
    text-decoration: none;
    font-weight: bold;
}

footer {
    font-family: var(--font1);
    background-color: #2B4141;
    text-align: center;
    color: white;
    font-size: 0.7em;
    padding: 5px;
}